.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: url("../assets/images/18.png");
  background-repeat: no-repeat;
  background-size: cover;
  .xl{
    position: relative;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    min-height: 100vh;
    h1 {
      font-weight: 400;
      font-size: clamp(2.5rem, 4vw, 5rem);
      line-height: 64px;
      color: $yellow;
      gap: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      margin-top: 1px;
    }
    button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #fff;
      border: 3px solid #fff;
      border-bottom-color: $green;
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      span {
        display: inline-block;
        color: $green;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
      }
      &:hover {
        transform: translateX(1rem);
      }
    }
    @media screen and (max-width: 460px) {
        h1{
            line-height: 40px;
        }
      }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(12px);
  }
}
